<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Store</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="searchLine" @keyup="filterProduct()">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="isVisibleCart = !isVisibleCart">Корзина</button>
                <div class="cart-block " v-show="isVisibleCart">

                    <div class="cart-item" v-for="el of productInCart" :key="el.id_product" v-if="showGoods">
                        <div class="product-bio">
                            <img :src="imgCart" :alt="el.product_name">
                            <div class="product-desc">
                                <p class="product-title">{{ el.product_name }}</p>
                                <p class="product-quantity">Quantity: {{ el.quantity }}</p>
                                <p class="product-single-price">{{ el.price }} each</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price">{{ el.price * el.quantity }}</p>
                            <button class="del-btn" @click="removeProduct(el)">×</button>
                        </div>
                    </div>
                    <div class="cart-item"  v-else><h3>«Нет данных»</h3></div>

                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="el of products" :key="el.id_product" v-show="el.isFiltered">
                    <img :src="imgCatalog" :alt="el.product_name">
                    <div class="desc">
                        <h3>{{ el.product_name }}</h3>
                        <p>{{ el.price }}</p>
                        <button class="buy-btn" @click="addProduct(el)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script defer src="js/main.js"></script>
</body>

</html>

